* {
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
  user-select: none;
}
:root {
  --darkGrey: hsl(0, 0%, 63%);
  --veryDarkGrey: hsl(0, 0%, 27%);
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 30% 10% 30%;
  grid-template-rows: 65% 35%;
  grid-template-areas:
    "main-img main-img img-desc img-desc"
    "small-img fur-desc fur-desc blur-img";
}
.main--image {
  grid-area: main-img;
  position: relative;
}
.image--description {
  grid-area: img-desc;
}
.small--image {
  grid-area: small-img;
  background-image: url("images/image-about-dark.jpg");
  background-size: cover;
}
.furniture--description {
  grid-area: fur-desc;
}
.blured--image {
  grid-area: blur-img;
  background-image: url("images/image-about-light.jpg");
  background-size: cover;
}
.main--img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.menu {
  display: flex;
  position: absolute;
  top: 10%;
  left: 7%;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: inline-block;
  position: relative;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 15px;
}
.line {
  position: absolute;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  background: white;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.menu ul li a:hover + .line {
  display: block;
}
.logo {
  margin-right: 50px;
}
.image--description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 190px;
  display: flex;
  align-items: flex-end;
}
.swipe {
  width: 50%;
  height: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.swipe:hover {
  background: var(--veryDarkGrey);
}
.description--text {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title--image {
  text-align: left;
  font-size: 3em;
  font-weight: 700;
  margin: 20px 0px 20px;
}
.p--image {
  text-align: left;
  color: var(--darkGrey);
  line-height: 1.5em;
  font-size: 18px;
  margin: 20px 0px 20px;
}
.shop--now {
  color: black;
  text-align: left;
  letter-spacing: 15px;
  text-transform: uppercase;
  margin: 20px 0px 20px;
}
.shop--now:hover {
  color: var(--darkGrey);
}
.furniture--description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.furniture--text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title--furniture {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.p--furniture {
  color: var(--darkGrey);
  line-height: 1.3em;
  font-size: 18px;
}
